<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Remover Tool</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        .sr-only {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    </style>
</head>

<body class="bg-gray-100 min-h-screen flex items-center justify-center">

    <div class="bg-white p-8 rounded-md shadow-md w-96 max-w-full mx-auto">
        <h1 class="text-3xl font-bold mb-6 text-center text-blue-500">Background Remover</h1>
        
        <form onSubmit="{% url 'index' %}" id="myForm" method="post" enctype="multipart/form-data" class="space-y-4">
            {% csrf_token %}

            
            <div>
                <label for="image" class="flex items-center justify-center gap-2 w-full bg-blue-500 hover:bg-blue-300 text-white font-bold py-4 border rounded-full cursor-pointer">
                    <svg fill="#FFF" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 16h6v-6h4l-7-7-7 7h4zm-4 2h14v2H5z"/>
                    </svg>
                    <span class=" text-xl ">Upload</span>
                    
                    <input type="file" name="image" id="image" accept="image/*" class="sr-only"
                        onchange="previewImage(this)">
                </label>
            </div>



            <div id="image-preview" class="text-center hidden">
                <div class="relative">
                    <img id="preview" class="max-w-full h-auto mx-auto rounded-md shadow-md filter" alt="Image Preview" style="position: relative;">
                    <img id="animationImg" src="{% static 'image/loading.gif'%}" class="max-w-full h-auto mx-auto hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2" alt="AniImage" style="position: absolute;">
                </div>
                
                <div onClick="removeBtnClick()" class="w-full bg-blue-500 text-white mt-10 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                    Remove Background
                </div>
            </div>

            

        </form>

        {% if processed_image_url %}




        <div class="mt-4">
            <h2 class="text-2xl font-semibold mb-2 text-center text-blue-500">Processed Image</h2>
            <img src="{{ processed_image_url }}" alt="Processed Image"
                class="mx-auto max-w-full border rounded-md shadow-md">

            <a href="{{ processed_image_url }}" download="processed_image.png"
                class="block w-full mt-2 bg-green-500 text-white py-2 rounded-md text-center hover:bg-green-600 focus:outline-none focus:ring focus:border-green-300">
                Download Processed Image
            </a>
        </div>
        {% endif %}

        <script>

            function removeBtnClick() {

                var animationImg = document.getElementById('animationImg');
                animationImg.classList.remove("hidden");

                var preview = document.getElementById('preview');
                preview.classList.add("blur-md");



                var myForm = document.getElementById('myForm');
                myForm.submit();

                console.log(animationImg)
            }

            function previewImage(input) {
                var preview = document.getElementById('preview');
                var imagePreview = document.getElementById('image-preview');

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        preview.src = e.target.result;
                        imagePreview.classList.remove('hidden');
                    };

                    reader.readAsDataURL(input.files[0]);
                } else {
                    preview.src = '';
                    imagePreview.classList.add('hidden');
                }
            }
        </script>
    </div>

</body>

</html>
